# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**

- List Popular Languages that Data Scientists use
- List Libraries used by Data Scientists
- List Data Science Tools
- Evaluate Arithmetic Expressions

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes into hours by dividing by 60.
200/60

3.3333333333333335

### Author

Nontokozo